.qti-shared-stimulus-wrapper .passage-title { text-align:center; }
.qti-shared-stimulus-wrapper .passage-credit { font-size:10px; font-weight:normal; }
.qti-shared-stimulus-wrapper .author-line { font-weight:bold; font-style:italic; }